@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    background-color: rgb(225, 40, 40);
}
h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
a{
    color: red;
}
.filme_container{
    background-color: black;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin: 20px;
    height: 50%;
    width: 50%;
}
.videos{
    display: flex;
    align-items: center;
    justify-self: center;

}
.imagem{
    display: flex;
    justify-content: left;
    height: 40vh;
    width: 30vh;
}
